body {
  font-family: "Gill Sans", sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.divided-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.player {
  text-align: left;
  padding: 0.3em;
  margin: 0.5em 0.3em;
  cursor: pointer;
  width: 44%;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.button {
  background: #34495f;
  border: 0;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 0.3em;
  margin: 0.3em;
  width: 120px;
  text-align: center;
}

.player-column {
  /*width: 20em;*/
  margin: 0 0.3em;
}

.roster .player-column > div {
  border: 1px dotted black;
  margin: 0.6em 0;
}

.player-column > div {
  display: flex;
  flex-wrap: wrap;
  width: 20em;
  justify-content: flex-start;
  flex-direction: row;
}

.score-info {
  display: flex;
  flex-direction: row;
}

.score-info > span {
  margin: 0 1em;
}

#game-buttons {
  display: flex;
  flex-direction: row;
}
